.score-card {
  background-color: var(--paper);
  background-image: url('../../../assets/natural-paper.png');
  aspect-ratio: 3 / 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  box-shadow:
    3px 10px 20px rgba(0, 0, 0, 0.15),
    inset 8px 0 12px -5px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  cursor: pointer;
  border-top: 6px solid var(--book-border-color);
}

.score-card:hover {
  transform: scale(1.02);
}

.composer {
  text-transform: uppercase;
  letter-spacing: 1.2px;
  font-size: 0.7rem;
  color: var(--text);
}

.title,
.excerpt {
  /* Limits long quotes to 2 lines */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.title {
  margin: 12% 0 2% 0;
  font-size: 1.2rem;
  line-height: 1.2;
  color: var(--text);
  font-weight: normal;
}

.subtitle {
  font-size: 0.9rem;
  color: var(--text-gray);
}

.excerpt {
  font-size: 0.75rem;
  font-style: italic;
  color: var(--text-gray);
  line-height: 1.3;
  padding: 0 5px;
  margin-bottom: 10px;
}

.footer-info {
  margin-top: auto;
  width: 100%;
}

.instrument-label {
  font-size: 0.7rem;
  text-transform: uppercase;
  color: var(--text-gray);
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  padding-top: 6px;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

.progress {
  display: flex;
  justify-content: space-around;

  .icons-row {
    display: flex;
    justify-content: center;
    gap: 2px;
  }
}
