<div class="score-card" [style.--book-border-color]="composer() | stringToColor">
  <main>
    <div class="composer">{{ composer() }}</div>
    <div>
      <h2 class="title">{{ title() }}</h2>
      <div class="subtitle">Op. 27, No. 2</div>
    </div>
    @if (classification(); as classification) {
      <p class="classification">"{{ classification }}"</p>
    }
  </main>
  <footer>
    <ul class="instrumentations">
      @for (instrumentation of instrumentations(); track instrumentation) {
        <li class="instrumentation">{{ instrumentation }}</li>
      }
    </ul>
    <div class="progress">
      <div class="icons-row">
        <span class="icon-note">&#119135;</span>
        <span class="icon-note">&#119135;</span>
        <span class="icon-note">&#119135;</span>
        <span class="icon-note">&#119134;</span>
        <span class="icon-note">&#119134;</span>
      </div>
      <div class="icons-row">
        <span class="icon-metronome">&#10711;</span>
        <span class="icon-metronome">&#10711;</span>
        <span class="icon-metronome">&#10711;</span>
        <span class="icon-metronome">&#10710;</span>
        <span class="icon-metronome">&#10710;</span>
      </div>
    </div>
  </footer>
</div>
