<div class="score-card" [style.--book-border-color]="composer() | stringToColor">
  <main>
    <div class="composer">{{ composer() }}</div>
    <div>
      <h2 class="title">{{ title() }}</h2>
      <div class="subtitle">Op. 27, No. 2</div>
    </div>
    @if (classification(); as classification) {
      <p class="classification">"{{ classification }}"</p>
    }
  </main>
  <footer>
    <ul class="instrumentations">
      @for (instrumentation of instrumentations(); track $index) {
        <li class="instrumentation">{{ instrumentation }}</li>
      }
    </ul>
    <div class="progress">
      <div class="icons-row">
        @for (_ of range; track $index) {
          <span class="icon-note">{{ $index < difficulty() ? '&#119135;' : '&#119134;' }}</span>
        }
      </div>
      <span class="status">{{ status() }}</span>
    </div>
  </footer>
</div>
