$cover-border-size: 12px;

main {
  padding: 1rem;
}

.piece-cover {
  min-height: calc(100dvh - 2rem);
  padding: 1rem 3rem;
  border: double $cover-border-size var(--border);
  background: url('../assets/violin-empty-left.svg') no-repeat top right scroll;
}

@media (min-width: 1024px) {
  .piece-cover {
    min-height: calc(100dvh - 2rem);
    padding: 1rem 3rem;
    border: double $cover-border-size var(--border);
    background:
      url('../assets/violin-empty-left.svg') no-repeat top right scroll,
      url('../assets/violin-empty-right.svg') no-repeat top left scroll;
  }
}
