form {
  margin-left: auto;
  margin-right: auto;
  width: 100%;

  .input {
    flex: 1;
  }

  .book {
    width: 100%;
    height: auto;
  }

  .creation-small .book {
    margin: auto;
  }

  .creation-medium {
    display: flex;
    flex-direction: column;

    .inputs-with-book {
      display: flex;
      align-items: center;
      gap: 1rem;

      .inputs-besides-book {
        flex: 1;
      }
    }
  }

  .creation-big {
    display: flex;
    align-items: center;
    gap: 1rem;

    .inputs {
      width: 100%;
    }

    .book {
      flex: 0;
    }
  }
}

@media (min-width: 404px) {
  form .book {
    width: auto;
    height: calc(19px * 16);
  }
}

@media (min-width: 1200px) {
  form {
    width: 70%;
  }
}

button {
  display: block;
  margin-left: auto;
  margin-top: 2rem;
  border: solid 2px var(--border);
  background-color: var(--paper);
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 768px) {
  button {
    width: unset;
  }
}
