:root {
  /* Dark Mode */
  --ebony-bg: #0f0f12;
  --ebony-text: #f4f4f4;
  --ebony-header: #ffffff;
  --ebony-primary: #c5a059;
  --ebony-secondary: #8e9196;
  --ebony-sec-cont: #2a2c31;
  --ebony-error: #af4c4c;
  --ebony-warn: #c98b39;
  --ebony-success: #6b8e23;

  /* Light Mode */
  --parchment-bg: #c9c4b9;
  --parchment-text: #45423d;
  --parchment-header: #2d2b28;
  --parchment-primary: #8b4513;
  --parchment-secondary: #5d6066;
  --parchment-sec-cont: #b7b2a7;
  --parchment-error: #800000;
  --parchment-warn: #a0522d;
  --parchment-success: #7ca38a;

  /* Other */
  --paper: #fdfcf8;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Georgia', serif;

  input {
    font-family: 'Georgia', serif;
  }

  * {
    box-sizing: border-box;
  }
}

.container {
  height: 100%;
  padding: 1rem;
  background: url('./assets/violin.svg') no-repeat top right fixed;
  background-size: cover;
}

/* RESET & BASE */
.piece-cover {
  border-left: 1rem solid var(--parchment-success);
  height: 100%;
  padding: 1rem 3rem;
}

.content {
  max-width: 600px;
}

h1 {
  text-align: center;
  font-size: 2.5rem;
  margin-top: 0;
}

h2 {
  font-weight: 300;
  text-transform: uppercase;
}

.label {
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 0;
}

.divider {
  height: 1px;
  width: 120px;
  margin: 2rem auto;
}

/* --- DARK THEME --- */
.theme-ebony {
  background-color: var(--ebony-bg);
  color: var(--ebony-text);

  h1 {
    font-style: italic;
    color: var(--ebony-header);
  }

  .divider {
    background-color: var(--ebony-text);
  }

  .btn-primary {
    background-color: var(--ebony-primary);
    color: var(--ebony-bg);

    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
  }

  .chip {
    background-color: var(--ebony-sec-cont);
    color: var(--ebony-secondary);
    border: 1px solid var(--ebony-secondary);
  }

  .text-error {
    color: var(--ebony-error);
  }
  .text-warn {
    color: var(--ebony-warn);
  }
}

/* --- LIGHT THEME --- */
.theme-parchment {
  background-color: var(--parchment-bg);
  color: var(--parchment-text);
  font-family: 'Georgia', serif;
  position: relative;
  overflow: hidden;

  h1 {
    color: var(--parchment-header);
  }

  .divider {
    background-color: #ada799;
  }

  .btn-primary {
    background-color: var(--parchment-primary);
    color: var(--parchment-bg);

    border: none;
    padding: 1rem 2rem;
    font-weight: bold;
    cursor: pointer;
  }

  .chip {
    background-color: var(--parchment-sec-cont);
    color: var(--parchment-text);
    border: 1px solid var(--parchment-secondary);
  }

  .text-error {
    color: var(--parchment-error);
  }
  .text-warn {
    color: var(--parchment-warn);
  }
}
