button {
  display: block;
  margin-left: auto;
  margin-top: 2rem;
  border: solid 2px var(--border);
  background-color: var(--paper);
  padding: 0.5rem 1rem;
  letter-spacing: 1px;
  width: 100%;
  cursor: pointer;
}

@media (min-width: 768px) {
  button {
    width: unset;
  }
}
