$pentagram-spacing: 36px;
$pentagram-line-width: 2px;

.tree {
  display: flex;
  gap: 2px;
}

.search {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

.double-bar-line {
  height: calc($pentagram-spacing * 4 + $pentagram-line-width);
  display: flex;
  gap: 4px;

  & > * {
    background-color: var(--border);
    width: 4px;
  }

  & > *:nth-child(2) {
    width: 8px;
  }
}

.clef {
  grid-area: clef;
  height: calc($pentagram-spacing * 4 + $pentagram-line-width);
  min-width: calc(($pentagram-spacing * 4 + $pentagram-line-width) * 15.186 / 40.768);

  .clef-svg {
    width: 100%;
    height: 100%;
    color: var(--border);
  }
}

.pentagram-line {
  pointer-events: none;
  border-top: $pentagram-line-width solid var(--border);
}

input {
  padding: 8px 12px;
  border: none;
  border-top: $pentagram-line-width solid var(--border);
  background-color: transparent;
  font-size: 1rem;

  &:focus {
    outline: none;
    background-color: var(--paper);
  }

  &::placeholder {
    color: var(--text);
    font-weight: bold;
    font-family: sans-serif;
    font-style: italic;
  }
}

.pentagram-line,
input {
  height: $pentagram-spacing;
}
